body {
}
header {
    background-color:#1c1c1c;
    width:100%;
    padding: 5px 10px;
    margin-bottom:10px;
}
.logo h2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom:0px;
}
.col-a{
    padding:8px;
}
footer{
    postion:absolute;
    bottom:0;
}